In [4]:
import datetime as dt
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, desc
from sqlalchemy.sql import label
style.use('seaborn')

from flask import Flask, jsonify

import matplotlib.pyplot as plt

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [6]:
Base = automap_base()

In [7]:
Base.prepare(engine, reflect=True)

In [8]:
Measurement = Base.classes.measurements
Stations = Base.classes.stations

In [9]:
session = Session(bind = engine)

In [10]:
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [11]:
columns = inspector.get_columns('measurements')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date DATE
prcp FLOAT
tobs FLOAT

In [12]:
columns = inspector.get_columns('stations')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [13]:
engine.execute('SELECT * FROM stations LIMIT 5').fetchall()

[(1, 'USC00519397', None, None, None, None),
 (2, 'USC00519397', None, None, None, None),
 (3, 'USC00519397', None, None, None, None),
 (4, 'USC00519397', None, None, None, None),
 (5, 'USC00519397', None, None, None, None)]

In [14]:
engine.execute('SELECT * FROM measurements LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [16]:
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= '2017-01-01')

In [21]:
data = {'date': [], 'prcp': []}

# populate dict with rows from results
for row in results:
    data['date'].append(row.date)
    data['prcp'].append(row.prcp)

# create pandas df from dict
prcp17 = pd.DataFrame(data['prcp'], columns = ['prcp'], index = data['date'])
print(prcp17.head())

            prcp
2017-01-01   0.0
2017-01-02   0.0
2017-01-03   0.0
2017-01-04   0.0
2017-01-05   0.0

In [24]:
prcp17.head()

            prcp
2017-01-01   0.0
2017-01-02   0.0
2017-01-03   0.0
2017-01-04   0.0
2017-01-05   0.0