In [13]:
import pandas as pd
import sqlalchemy 
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from datetime import datetime
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

In [14]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [15]:
conn=engine.connect()

In [16]:
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)  
    tobs = Column(Float)

In [17]:
Base.metadata.create_all(engine)

In [18]:
measurements_df = pd.read_csv('/Users/sabalemma/Desktop/Surfsup/Resources/cleaned_hawaii_measurements.csv')
measurements_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70

In [19]:
measurements_df['date'] = pd.to_datetime(measurements_df['date'], format = '%Y-%m-%d')

In [20]:
data_measurements = measurements_df.to_dict(orient='records')

In [21]:
data_measurements[0]

{'Unnamed: 0': 0,
 'date': Timestamp('2010-01-01 00:00:00'),
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65}

In [22]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [23]:
measurement_table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [24]:
conn.execute(measurement_table.delete())

In [25]:
conn.execute(measurement_table.insert(), data_measurements)

In [26]:
 conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [27]:
class Stations(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)  
    longitude = Column(Float)
    elevation = Column(Float)

In [28]:
Base.metadata.create_all(engine)

In [30]:
stations_df = pd.read_csv('/Users/sabalemma/Desktop/Surfsup/Resources/cleaned_hawaii_measurements.csv')
stations_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70

In [31]:
station_data = stations_df.to_dict(orient='records')
station_data[0]

{'Unnamed: 0': 0,
 'date': '2010-01-01',
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65}

In [32]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [33]:
station_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [34]:
conn.execute(station_table.delete())

In [35]:
conn.execute(station_table.insert(), station_data)

In [36]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', None, None, None, None),
 (2, 'USC00519397', None, None, None, None),
 (3, 'USC00519397', None, None, None, None),
 (4, 'USC00519397', None, None, None, None),
 (5, 'USC00519397', None, None, None, None)]