In [31]:
import pandas as pd

In [32]:
measurements=pd.read_csv('/Users/sabalemma/Desktop/GwRepch/GWAR201802DATA4-Class-Repository-DATA/02-Homework/11-Adv-Data-Storage-Retrieval/Instructions/Resources/hawaii_measurements.csv')
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [33]:
measurements.shape

(19550, 4)

In [34]:
measurements.duplicated().sum()

0

In [35]:
measurements.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [36]:
measurements=measurements.dropna()

In [37]:
measurements.shape

(18103, 4)

In [38]:
measurements.to_csv('/Users/sabalemma/Desktop/GwRepch/GWAR201802DATA4-Class-Repository-DATA/02-Homework/11-Adv-Data-Storage-Retrieval/Instructions/Resources/cleaned_hawaii_measurements.csv')

## Stations Data

In [40]:
stations=pd.read_csv('/Users/sabalemma/Desktop/GwRepch/GWAR201802DATA4-Class-Repository-DATA/02-Homework/11-Adv-Data-Storage-Retrieval/Instructions/Resources/hawaii_stations.csv')
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [41]:
stations.shape

(9, 5)

In [42]:
stations.duplicated().sum()

0

In [45]:
stations.isnull().values.sum()

0

In [47]:
stations=stations.dropna()

In [48]:
stations.to_csv('/Users/sabalemma/Desktop/GwRepch/GWAR201802DATA4-Class-Repository-DATA/02-Homework/11-Adv-Data-Storage-Retrieval/Instructions/Resources/cleaned_hawaii_stations.csv')